<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
	
	<script tpye="text/javascript" src="../static/javascripts/main.js"></script>
	<script tpye="text/javascript" src="http://localhost:5000/static/javascripts/test.js"></script>
  </head>
<!-- ------------------------------------------ -->  
  <body background="../static/images/background.jpg" style=>
  
	<div><!-- navigation  bar -->
		<a href="{{ url_for('index') }}">Home</a>
		|<a href='/login'>Login page<a>
		{% if g.user.is_authenticated %}
			| <a href="{{ url_for('user', nickname=g.user.nickname) }}">Profile（我的主页）</a>
		<!--| <a href="{{ url_for('edit') }}">Edit info</a>   -->
			| <a href="{{ url_for('logout') }}">Logout</a>
		{% endif %}
		|<a href="{{ url_for('design') }}">Design</a>
	</div>
      
	<h1  style='background-color:orange;text-align:center;'>你好：这里是FLask!</h1>
	<hr>
<!-- content begin -->
	 {% block content %}{% endblock %}
<!--content over -->

<!--	
	{%if title == 'Home'%} 
	 <p>I am a page home</p>
	  {%else%}
	  <p>I am a page</p>
	{%endif%}
	
	{%for post in posts.items%}
	<div><p>{{post.author.nickname}} says: <p>{{post.body}}</p><br></p></div>
	{%endfor%}
-->

<div><!--show flash message, g, sesssion, request-->
	{% with messages = get_flashed_messages() %}
      {% if messages %}
        <hr>
		<ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>
<hr>
<div><!-- bottom  bar -->
	<img id="moveE" src="http://localhost:5000/static/images/1_b.gif">
   <script >window.onload=function () {
		var moveE = document.getElementById("moveE");
		var _width=200-moveE.offsetWidth;
		var _height=400-moveE.offsetHeight;
		move_on(moveE,120,1,0,40);
		}</script>
</div>


  </body>
</html>